name = "inbox"
main = "src/index.ts"
compatibility_date = "2023-06-17"
node_compat = true

kv_namespaces = [
  { binding = "NONCES", id = "NONCES_ID", preview_id = "NONCES_PREVIEW_ID" },
  { binding = "INBOX", id = "INBOX_ID", preview_id = "INBOX_PREVIEW_ID" },
  { binding = "PUSH", id = "PUSH_ID", preview_id = "PUSH_PREVIEW_ID" },
]

[[queues.producers]]
queue = "emails"
binding = "EMAILS"

# Secrets:
# - ADD_SECRET
# - WEB_PUSH_PUBLIC_KEY
# - WEB_PUSH_PRIVATE_KEY
